body {
  text-align: center;
  background-color: #1e4357;
}

h1 {
  font-size: 5rem;
  color: #f7f1e2;
  font-family: "Garamond", cursive;
  text-shadow: 3px 0 #df7c2e;
}

footer {
  color: #dbedf3;
  font-family: sans-serif;
}

.s {
  background-image: url(images/tom3.png);
}

.d {
  background-image: url(images/tom4.png);
}

.k {
  background-image: url(images/crash.png);
}

.l {
  background-image: url(images/kick.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  animation: drums 0.1s ease 3;
  opacity: 0.8;
}

.drum {
  /* outline: none; */
  /* border: 10px solid #404b69; */
  font-size: 3rem;
  color: #f7f1e2;
  font-family: "Garamond", cursive;
  text-shadow: 3px 0 #df7c2e;
  font-weight: 900;

  border: none;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  line-height: 2;
  margin: 10px;
  background-color: #1e4357;
  padding-bottom: -10%;
}

a {
  text-decoration: none;
  color: white;
}
.j {
  background-image: url(images/snare.png);
  padding-top: 4%;
}
.w {
  background-image: url(images/tom1.png);
  padding-top: 3.5%;
}

.a {
  background-image: url(images/tom2.png);
  padding-top: 3%;
}
@keyframes drums {
  0%,
  100% {
    transform: translateX(-2px);
  }
  50% {
    transform: translateX(2px);
  }
}
